*{background-color:#42f4e2;}
#heading{font-family: 'Lobster Two', bold; font-size: 60px;
}
.page_footer
{
clear:both;
text-align:center;
}
 .small
  { width:230px;
    height:230px;}
 .b
  {
    border-color:blue;
    border-width:5px;
    border-style:solid;
    border-radius:50%
  }